[Unit]
Description=Thoth Agent App
After=network.target

[Service]
User=root
ExecStart=/usr/bin/thoth-agent -interval 10s

[Install]
WantedBy=multi-user.target
